img {
  border-radius: var(--border-radius);
}

.twitter-tweet > iframe {
  border-radius: 0.75rem;
  border: 0.5px solid var(--color-gray-10);
}

.counter {
  flex: 1;
  font-family: var(--font-mono);
}

.counter .counter-count {
  font-size: 3rem;
}

.counter .counter-label {
  font-size: 1.2rem;
  font-family: var(--font-mono);
  color: var(--color-gray-6);
}
